.claude
.DS_Store
.history/
archive/
controls/
controls/probe/
exp3/__pycache__
exp4/.history/
exp4/data/
exp4/figures/
exp5/.history/
exp5/data/
exp5/figures/
icml_2026/
nips_2026/
src/__pycache__
stimuli/Grand_et_al/
stimuli/rebuttals
clear_hf_cache.py
.env

